/node_modules
/.idea
/.vscode
/website
/dist
/types
/docs/.vitepress/cache

/package-lock.json
/pnpm-lock.yaml
.npmrc

# TypeScript
.tsbuildinfo
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
